*{
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, Sans-Serif;
}
h1{
	display: block;
	margin: 5px;
}
#wrapper{
	width: 1250px;
	margin: 0px auto;
}
.cellheader {
	position: absolute;
	width: 50px;
	height: 75px;
	margin: 2px 5px;
	padding: 30px 0px;
}
.cellheader p {
	height: 100px;
	color: #FC0584;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
}
.cell{
	position: absolute;
	width: 50px;
	height: 75px;
	margin: 2px 5px;
	border: 1px solid #000000;
	text-align: center;
}
.cell p {
	font-size: 8pt;
	margin: 5px 0px;
}
.cell h2 {
	color: #1B28B8;
}
.blue {
	background-color: #689BFF;
}
.pink {
	background-color: #FD9A98;
}
.yellow {
	background-color: #FECB00;
}
.green {
	background-color: #1FCA21;
}
.r1{
	top: 45px;
}
.r2{
	top: 125px;
}
.r3{
	top: 205px;
}
.r4{
	top: 285px;
}
.r5{
	top: 365px;
}
.r6{
	top: 445px;
}
.r7{
	top: 525px;
}
.r8{
	top: 605px;
}
.r9{
	top: 685px;
}
.r10{
	top: 765px;
}
.c1{
	left: 30px;
}
.c2{
	left: 85px;
}
.c3{
	left: 140px;
}
.c4{
	left: 205px;
}
.c5{
	left: 260px;
}
.c6{
	left: 315px;
}
.c7{
	left: 370px;
}
.c8{
	left: 425px;
}
.c9{
	left: 480px;
}
.c10{
	left: 535px;
}
.c11{
	left: 590px;
}
.c12{
	left: 645px;
}
.c13{
	left: 700px;
}
.c14{
	left: 755px;
}
.c15{
	left: 810px;
}
.c16{
	left: 865px;
}
.c17{
	left: 920px;
}
.c18{
	left: 975px;
}
.c19{
	left: 1030px;
}