*{
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
}
a{
	color: #008DCD;
}
p,li {
	font-size: 10pt;
}
li {
	text-indent: 20px;
	list-style-position: inside;
}
li:before {
	color: #008DCD;
}
.bold {
	font-weight: bold;
}
.button {
	display: block;
	border-radius: 5px;
	padding: 5px 10px;
	text-align: center;
	margin: 5px 10px;
	font-size: 10pt;
	font-weight: bolder;
	text-decoration: none;
}

a.button {
	width: 150px;
}

#wrapper{
	width: 1000px;
	margin: 0px auto;
}

#toolbar {
	vertical-align: top;
	margin: -12px 0 0 325pt;
	display: inline-block;
	text-align: right;
	text-decoration: none;
	font-size: 8pt;
}

#toolbar ul {
	display: inline-block;
	background-color: #F0F0F0;
	list-style: none;
	border-bottom: 1px solid #909090;
	border-left: 1px solid #909090;
	border-right: 1px solid #909090;
	border-radius: 10px;
}

#toolbar li {
	text-indent: 0px;
	display: inline-block;
	padding: 15px 10px 10px;
	border-right: 1px solid #909090;
}

#toolbar li:last-child {
	border-right: none;
}

#toolbar a {
	display: inline-block;
	color: #505050;
	text-decoration: none;
	font-size: 8pt;
	font-family: Arial;
}

#login {
	font-size: 8pt;
	text-decoration: none;
	border-radius: 5px;
	background-color: #008DCD;
	margin-left: 25px;
	padding: 15px 20px 10px;
	color: white;
}

#header {
	font-family: Arial, Helvetica, sans-serif;
	display: block;
}

#header img {
	display: inline-block;
	margin: 25px 15px 0;
}

#header h1 {
	font-weight: lighter;
	display: inline-block;
}
#header h2 {
	font-weight: lighter;
	font-size: 14pt;
	display: block;
	background-color: #008DCD;
	color: #FFFFFF;
	margin-top: 5px;
	padding: 10px 10px;
}

#word {
	color: #808082;
}

#stream {
	color: #037b9e;
}
#infobar {
	width: 800px;
	margin-left: 200px;
	display: block;
	border-bottom: 2px solid #E0E0E0;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
#breadcrumb {
	display: inline-block;
}
#breadcrumb img {
	vertical-align: middle;
	display: inline-block;
}
#breadcrumb p {
	font-size: 10pt;
	vertical-align: middle;
	display: inline-block;
}
#phone {
	display: inline-block;
	width: 200px;
	margin: 5px 0 5px 500px;
}
#phone img {
	display: inline-block;
}
#phonetxt {
	vertical-align: top;
	display: inline-block;
	width: 150px;
}
#phonetxt p {
	font-size: 8pt;
}
#mainphone {
	font-size: 16pt;
	font-weight: bold;
	padding: 0pt auto;
	color: #008DCD;
	text-align: center;
}

#sidebar {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin: 0 10pt 0 0;
	text-align: center;
}
#topside {
	border-bottom: 1px solid #909090;
	margin-bottom: 10pt;
	padding: 10pt;
}
#topside h1 {
	font-size: 12pt;
	font-weight: lighter;
	color: #008DCD;
}
#topside h2 {
	font-size: 8pt;
	color: #e34806;
}
#topside p {
	font-size: 8pt;
}

#schedule{
	background-color: #008DCD;
	color: #FFFFFF;
}
#trial{
	background-color: #e34806;
	color: #FFFFFF;
}
#body {
	display: inline-block;
	width: 75%;
	padding: 10px;
}
#body h1 {
	color: #008DCD;
	font-size: 12pt;
}
#body h2 {
	color: #008DCD;
	font-size: 10pt;
}
#body ul {
	margin: 10px 0;
}
#calloutAd {
	margin: 10px;
	padding: 10px;
	border: 3px solid #80bdda;
}
#calloutAd img{
	display: inline-block;
	margin: 5px;
}
#calloutAdtxt {
	width:600px;
	margin-top: 20px;
	vertical-align: top;
	display: inline-block;
}
#getstarted{
	margin: -20px 250px 10px;
	text-align: center;
	background-color: #a5c341;
	color: #FFFFFF;
}